.detail-item{
    margin: 2% 0;
    font-size: 15px;
}

.edit-button{
    padding: 5px;
    margin-top: 5px;
    border: 1px solid rgba(0,0,0,.3);
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button:hover{
    font-weight: bolder;
    border: 1.5px solid rgba(0,0,0,.5);
}