<div class="work-log-container">

    <div ng-include="'partials/Components/BackButton.html'" ng-click="jobs.showDetail(jobs.selectedJob)" ></div>

    <div class="form-group">
        <label for="Staff">Staff</label>
        <select ng-model="pc.staffIndex" ng-change="pc.selectStaff()" class="select-field">
            <option ng-repeat="p in pc.staffList" value="{{$index}}">{{p.name}}</option>
        </select>
    </div>

    <div class="job-title">{{jobs.selectedJob.name}}</div>

    <div class="form-group">
        <label for="start-time">Start Time</label>
        <input id="start-time" type="datetime-local" ng-change="jobs.displayDate()" ng-model="jobs.dateTimeRangePast" class="input-field">
    </div>

    <div class="form-group">
        <label for="end-time">End Time</label>
        <input id="end-time" type="datetime-local" ng-change="jobs.displayDate()" ng-model="jobs.dateTimeRangeCurrent" class="input-field">
    </div>

    <button ng-click="jobs.addWorkLog()" class="action-button">Add Work Log</button>

    <div class="time-display">{{jobs.dateTimeRangePast}}</div>
</div>
