<div class="job-edit-container">
  <div ng-include="'partials/Components/BackButton.html'" ng-click="jobs.showDetail(jobs.selectedJob)" ></div>

    <div class="edit-select-section">
      <label for="edit">Edit Field:</label>
  
      <select name="edit" id="edit" ng-model="jobs.selectedForEdit">
        <option value="name">Job</option>
        <option value="price">Price</option>
        <option value="description">Description</option>
        <option value="time_spent">Time Spent</option>
        <option value="status">Status</option>
        <option value="priorty_level">Priority Level</option>
        <option value="due_date">Due Date</option>
        <option value="received_payment">Received Payment</option>
      </select>
  
      <input type="text" ng-model="jobs.selectedJob.name" ng-if="jobs.selectedForEdit == 'name'">
      <input type="number" ng-model="jobs.selectedJob.price" ng-if="jobs.selectedForEdit == 'price'">
      <input type="text" ng-model="jobs.selectedJob.description" ng-if="jobs.selectedForEdit == 'description'">
      <input type="number" step=".01" ng-model="jobs.selectedJob.time_spent" ng-if="jobs.selectedForEdit == 'time_spent'">
      <input type="number" min="1" max="5" ng-model="jobs.selectedJob.priorty_level" ng-if="jobs.selectedForEdit == 'priorty_level'">
      <input type="date" ng-model="jobs.selectedJob.due_date" ng-if="jobs.selectedForEdit == 'due_date'">
      <input type="checkbox" ng-model="jobs.selectedJob.received_payment" ng-if="jobs.selectedForEdit == 'received_payment'">
  
      <select ng-model="jobs.selectedJob.status" ng-if="jobs.selectedForEdit == 'status'">
        <option value="Not Started">Not Started</option>
        <option value="Started">Started</option>
        <option value="Returned">Returned</option>
        <option value="Canceled">Canceled</option>
        <option value="Complete">Complete</option>
      </select>
  
      <button class="btn-submit" ng-click="jobs.submitJobUpdate()">Submit Update</button>
    </div>
  
    <!-- <input type="file" name="Upload Image" class="job-image-drop" ng-on-drop="jobs.addImage(this.files)"> -->
    <input type="file" file-change handler="jobs.fileSelect(files)" class="job-image-drop">
    
    <br>==========<br>
  
    <div ng-repeat="(k, v) in jobs.selectedJob" class="detail-item">
      <strong>{{k}}</strong> : {{v}}
    </div>
  </div>
  