<div>
    <div>
        <label for="orderJobs">Order By:</label>

        <select name="orderJobs" ng-model="jobs.orderJobs">
            <option value="id">Id</option>
            <option value="price">Price</option>
            <option value="date_created">Date Created</option>
            <option value="completion_date">Date Completed</option>
        </select>

        <label for="reverseOrder">Desc</label>
        <input type="checkbox" name="reverseOrder" ng-model="jobs.orderDesc">
    </div>

    <div>
        <label for="searchTypes">Search Jobs:</label>

        <select name="searchTypes" ng-model="jobs.searchType" ng-change="jobs.resetSearch()">
            <option value="none" >No Search</option>
            <option value="id">Id</option>
            <option value="description">Description</option>
            <option value="status">Status</option>
            <option value="received_payment">Received Payment</option>
        </select>

        <input type="number" ng-model="jobs.searchText" ng-if="jobs.searchType == 'id'" placeholder="ID">
        <input type="text" ng-model="jobs.searchText" ng-if="jobs.searchType == 'description'" placeholder="Description">
        <select ng-model="jobs.searchText" ng-if="jobs.searchType == 'status'">
            <option value="Not Started">Not Started</option>
            <option value="Started">Started</option>
            <option value="Returned">Returned</option>
            <option value="Canceled">Canceled</option>
            <option value="Complete">Complete</option>
        </select>
        <span ng-if="jobs.searchType == 'received_payment'">No</span>
        <input type="radio" name="paid" value="No" ng-model="jobs.searchText" ng-if="jobs.searchType == 'received_payment'">
        <span ng-if="jobs.searchType == 'received_payment'">Yes</span>
        <input type="radio" name="paid" value="Yes" ng-model="jobs.searchText" ng-if="jobs.searchType == 'received_payment'">
    </div>

    <p>Total Jobs Showing: {{ (jobs.jobList | searchBar:jobs.searchText:jobs.searchType).length }}</p>

    <div ng-repeat="job in jobs.jobList | searchBar: jobs.searchText: jobs.searchType | orderBy : jobs.orderJobs : jobs.orderDesc">
        </br>
        <div ng-click="jobs.showDetail(job)" class="home-item">
            Job Number: {{job.id}} </br> Job Info: {{job.description}} </br> Status: {{job.status}}
        </div>
        </br>
    </div> 
</div>