<div>
    <label for="searchTypes">Search Jobs:</label>

    <select name="searchTypes" ng-model="jobs.searchType" ng-change="jobs.resetSearch()">
        <option value="none" >No Search</option>
        <option value="id">Id</option>
        <option value="description">Description</option>
    </select>

    <input type="number" ng-model="jobs.searchText" ng-if="jobs.searchType == 'id'" placeholder="ID">
    <input type="text" ng-model="jobs.searchText" ng-if="jobs.searchType == 'description'" placeholder="Description">
   

    <div ng-repeat="job in jobs.jobList | searchBar: jobs.searchText: jobs.searchType">
        </br> 
        <div ng-click="jobs.showDetail(job)" class="home-item">
            Job Number: {{job.id}} </br> Job Info: {{job.description}} </br> Status: {{job.status}}
        </div>
        </br>
    </div>
</div>